---
import MainLayout from "@/layouts/main-layout.astro";
import { Image } from "astro:assets";
import { hobbies } from "@/config/about.ts";
import { Button } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
---

<MainLayout title="About" description="Lorem ipsum dolor sit amet">
  <section class="space-y-5">
    <section
      class="relative container max-w-screen-md mb-28 mt-16 sm:mt-20 lg:mt-28"
    >
      <div class="flex h-full flex-col justify-between">
        <div class="grid gap-8 sm:grid-cols-2">
          <div>
            <img src="https://www.dropbox.com/scl/fi/u6vg9gzjmdcs7mt8d792z/twitter-icon.png?rlkey=81ly7oh0hkltr6ugz1jtcies6&dl=1" alt="Oasis Logo" class="w-12 h-12" />
            <h1 class="text-4xl font-heading text-foreground">Oasis</h1>
            <p class="text-base text-muted-foreground mt-0.5">
              Marketing Ops Agency
            </p>
          </div>
          <div>
            <p class="mb-12 text-base text-muted-foreground">
              Hi there! Bloom is an Oasis project, we're a Marketing Ops agency with a highly technical background and a strong focus on data-driven marketing. <br />
              
              <br />We help companies to scale their marketing operations and improve their marketing performance by implementing the right tools and processes.
              <br />
            </p>
            <div class="flex items-center gap-3">
              <Button className="rounded-xl">
                <Icon name="lucide:slack" class="mr-2 size-4" />
                <a href="https://join.slack.com/t/navigatorsbyoasis/shared_invite/zt-2d02kz3x0-4wjfbnt6efdhXXt_OFH1dw">Talk with us</a>
              </Button>

              <Button variant="outline" className="rounded-xl">
                <Icon name="lucide:link" class="mr-2.5 size-4" />
                <a href="https://www.getoasis.io" target="_blank">Our Homepage</a>
              </Button>
            </div>
          </div>
        </div>
      </div>
    </section>
</MainLayout>