---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
---

<MainLayout title="">
  <section class="space-y-6 pb-12 pt-16 lg:py-28">
    <div
      class="container flex max-w-[64rem] flex-col items-center gap-5 text-center"
    >
      <a
        href="https://twitter.com/miickasmt"
        class={cn(buttonVariants({ variant: "outline", size: "sm" }))}
        target="_blank"
      >
        Find us on the Chrome Store <img src="https://www.google.com/chrome/static/images/chrome-logo.svg" class="ml-2 size-4" />
      </a>

      <h1
        class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance"
      >
        The Chrome Extension for
        <span class="text-gradient_indigo-purple">
          AI enabled data tranquility
        </span> 🧘🏽‍♂️
      </h1>

      <p
        class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance"
      >
      Talk to your Hubspot or Salesforce data with a simple click.
      </p>

      <div class="flex justify-center space-x-2 md:space-x-4">
        <a
          href="/waitlist/"
          class={cn(buttonVariants({ size: "lg" }))}
        >
          Join the launch squad
        </a>
        <a
          href=""
          class={cn(buttonVariants({ variant: "outline", size: "lg" }), "px-4")}
        >
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Slack_icon_2019.svg/2048px-Slack_icon_2019.svg.png" class="mr-2 size-5" />
          Talk to James
        </a>
      </div>
    </div>
  </section>

  <section id="features" class="bg-background-200 py-8 md:py-12 lg:py-24">
    <div class="container space-y-6">
      <div
        class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center"
      >
        <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
          Features
        </h2>
        <p
          class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
        >
        Get insights into your data like never before with Bloom, a powerful Chrome extension for non-technical marketing teams. 
        </p>
      </div>
      <div
        class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3"
      >
        <div
          class="relative overflow-hidden rounded-lg border bg-background p-2"
        >
          <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
            <img src="https://asset.brandfetch.io/idmJWF3N06/idPg4qntFI.png"
              class="w-12 pt-2 fill-current">
            <div class="space-y-2">
              <h3 class="font-bold">Anthropic 3</h3>
              <p class="text-sm text-muted-foreground">
                Use the latest models to understand your data.
              </p>
            </div>
          </div>
        </div>
        <div
          class="relative overflow-hidden rounded-lg border bg-background p-2"
        >
          <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyCBUKjGHCysxATH2mtX97pZSnqRn_Ze4xHp00b-NN-Q&s"
              class="w-12 fill-current">
            <div class="space-y-2">
              <h3 class="font-bold">CRM Insights</h3>
              <p class="text-sm text-muted-foreground">
               Chat with your Contacts, Deals, or other data properties.
              </p>
            </div>
          </div>
        </div>
        <div
          class="relative overflow-hidden rounded-lg border bg-background p-2"
        >
          <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
            <img src="https://www.dropbox.com/scl/fi/no87at0sq6ii0v7ysyfx9/snowflake.png?rlkey=vneaor9zektgktqpgwahgt0xc&dl=1" class="w-12 pt-2 fill-current">
            <div class="space-y-2">
              <h3 class="font-bold">Warehouse Integrations</h3>
              <p class="text-sm text-muted-foreground">
                Ask questions about all of your data points with warehouse integrations. 
              </p>
            </div>
          </div>
        </div>
        <div
          class="relative overflow-hidden rounded-lg border bg-background p-2"
        >
          <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Octicons-sync.svg" class="w-12 fill-current">
            <div class="space-y-2">
              <h3 class="font-bold">Near-realtime Syncs</h3>
              <p class="text-sm text-muted-foreground mt-3">
                Get the latest data from your CRM or Data Warehouse.
              </p>
            </div>
          </div>
        </div>
        <div
          class="relative overflow-hidden rounded-lg border bg-background p-2"
        >
          <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              class="size-12 m-2 fill-current"
            >
              <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
            </svg>
            <div class="space-y-2">
              <h3 class="font-bold">Data Segregation</h3>
              <p class="text-sm text-muted-foreground">
                Your data gets it's own schema and doesn't mix with others.
              </p>
            </div>
          </div>
        </div>
        <div
          class="relative overflow-hidden rounded-lg border bg-background p-2"
        >
          <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
            <img src="https://cdn-icons-png.flaticon.com/512/68/68213.png" class="w-12 fill-current">
            <div class="space-y-2">
              <h3 class="font-bold">Company Research</h3>
              <p class="text-sm text-muted-foreground">
                Get data on companies as you're browsing with the insights panel.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mx-auto text-center md:max-w-[58rem]">
        <p
          class="leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
        >
          Bloom allows your team to ask questions and get insights without needing to write SQL or use complex BI tools.{" "}
        </p>
      </div>
    </div>
  </section>
  <section id="open-source" class="container py-8 md:py-12 lg:py-28">
    <div
      class="mx-auto flex max-w-[58rem] flex-col items-center justify-center gap-4 text-center"
    >
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Achieve data tranquility
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
      >
        Bloom is launching on the Chrome Store soon.         <a
        href="/waitlist/"
        class="underline underline-offset-4"
      >Sign up</a> to get early access and be the first to try it out.
      </p>
    </div>
  </section>
</MainLayout>
